body {
    margin: 0;
    padding: 0;
    background-color: var(--color-2);
}

:root {
    --color-1: #bfacaa;
    --color-2: #02020a;
    --color-3: #d9c3c1;
    --color-4: #b497d6;
    --color-5: #e1e2ef;
}

.btn {
    background-color: var(--color-1);
    text-transform: uppercase;
    border: none;
    text-align: center;
    padding: 5px 25px;
    font-size: 20px;
    border-radius: 20px;
    transition: all 0.2s ease-in;
}

.btn:hover {
    transform: scale(1.15);
}

#header {
    display: grid;
    place-items: center;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#search__input {
    padding: 3px 10px;
}

#form_h1 {
    text-align: center;
    font-size: 30px;
    color: var(--color-1);
    padding: 10px;
}

#search_button {
    padding-top: 10px;
    margin: 10px;
}

#movieArea {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie_area_div {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 20px;
    background-color: var(--color-1);
    border: 10px solid var(--color-1);
    border-radius: 10px;
    overflow: hidden;
}

.movie_area_div:hover {
    animation: a2 2.5s infinite;
}

.movie_area_flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 10px;
    color: black;
}



#movie_title {
    display: flex;
    align-items: center;
    color: var(--color-2);
    font-weight: bold;
    font-size: 18px;
}

#movie_average {
    /*flex: 1;*/
    /*color: ;*/
    display: flex;
    flex-direction: row;
    align-items: center;
}

#star {
    color: #ffefa0;
}

.popup_main {
    display: none;
    left: 0;
    top: 0;
    position: fixed;
    padding-top: 50px;
    z-index: 100;
    width: 100%;
    height: 100%;
    animation: a1 2.5s infinite;
    overflow: hidden;
}

.popup_container {
    background-color: var(--color-1);
    width: 60%;
    margin: auto;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.popup_info {
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
}

#popup_imgtag {
    display: flex;
    position: relative;
    border: 1px solid black;
}

#popup_imgtag img {
    flex: 1;
}

#popup_text_left {
    position: absolute;
    top: 8px;
    left: 16px;
    color: var(--color-1);
}

#popup_text_right {
    position: absolute;
    bottom: 16px;
}

#popup_sub {
    font-style: italic;
    font-size: 20px;
}

#popup_title {
    font-size: 50px;
    font-weight: bold;
}

#popup_overview {
    font-size: 20px;
    color: var(--color-3);
    text-align: justify;
    text-align-last: left;
    margin: 0 20px;
    text-indent: 5%;
}

#popup_imgtag:after {
    content: "";
    position: absolute;
    flex: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: linear-gradient(0deg, #00000038 5%, #ffffff44 50%);
}

.popup_exit {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    transition: all 0.2s ease-in;
}

.popup_exit:hover {
    transform: scale(1.02);
    color: red;
}

#load_btn {
    display: grid;
    place-items: center;
}

@keyframes a1 {
    0% {
        transform: scale(0.985);
    }

    60% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.985);
    }
}

@keyframes a2 {
    0% {
        transform: scale(0.97);
    }

    60% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.97);
    }
}

/*If 900px or smaller*/

@media only screen and (max-width: 900px) {
    .movie_area_div {
        width: 35%;
        border-radius: 1px;
        overflow: visible;
    }

    #popup_sub {
        font-style: italic;
        font-size: 15px;
    }

    #popup_title {
        font-size: 15px;
        font-weight: bold;
    }

    #popup_overview {
        font-size: 15px;
    }

    .popup_container {
        background-color: var(--color-1);
        width: 60%;
        margin: auto;
        padding: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}

@media only screen and (max-width: 600px) {
    .movie_area_div {
        width: 45%;
        flex: 1;
        border-radius: 1px;
        overflow: visible;
    }
    #popup_sub {
        font-style: italic;
        font-size: 5px;
    }

    #popup_title {
        font-size: 5px;
        font-weight: bold;
    }

    #popup_overview {
        font-size: 10px;
    }
}
